body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

.title-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}

.half-width {
  width: 50%;
  padding-left: 5px;
}

.half-width img {
  width: 80%;
}

.hire-btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}

.top-banner {
  background-image: url('imgs/top-banner.png');
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url('imgs/dream-bg.png');
  background-repeat: no-repeat;
  background-position-x: right;
}
.experiences {
  box-shadow: 10px 10px 20px gray;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  border-radius: 5px;
}
#web-dev-exp {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
#full-dev-exp {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
.experiences-area {
  background-image: url('imgs/exp-bg.png');
  background-repeat: no-repeat;
  background-position: left;
}
footer p {
  text-align: center;
}
